StEPS_Utility_Portlets/STEPS_UI_User/src/com/webmethods/caf/is/wsclient/steps_ui_core/team/wsd/getalluserdetails_wsd/getAllUserDetails_WSD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://WMSTEPSIS/STEPS_UI_Core/Team/WSD/getAllUserDetails_WSD" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="getAllUserDetails_WSD" targetNamespace="http://WMSTEPSIS/STEPS_UI_Core/Team/WSD/getAllUserDetails_WSD">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://WMSTEPSIS/STEPS_UI_Core/Team/WSD/getAllUserDetails_WSD" xmlns:SOAP_ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WMSTEPSIS/STEPS_UI_Core/Team/WSD/getAllUserDetails_WSD">
          
          <xsd:complexType name="getAllUserDetails">
            <xsd:sequence>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getAllUserDetailsResponse">
            <xsd:sequence>
              <xsd:element name="UserDetails" nillable="true" type="tns:ArrayOfUserDetail"/>
              <xsd:element name="error_boolean" nillable="true" type="xsd:string"/>
              <xsd:element name="error_text" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="UserDetail">
            <xsd:sequence>
              <xsd:element name="USERNAME" nillable="true" type="xsd:string"/>
              <xsd:element name="FORENAME" nillable="true" type="xsd:string"/>
              <xsd:element name="SURNAME" nillable="true" type="xsd:string"/>
              <xsd:element name="TEAM" nillable="true" type="xsd:string"/>
              <xsd:element name="LAST_UPDATED_BY" nillable="true" type="xsd:string"/>
              <xsd:element name="LAST_UPDATED_ON" nillable="true" type="xsd:dateTime"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ArrayOfUserDetail">
<xsd:sequence>
			<xsd:element name="ArrayOfUserDetailItem" type="tns:UserDetail" maxOccurs="unbounded"/>
		</xsd:sequence>

          </xsd:complexType>
        			<xsd:element name="getAllUserDetails" type="tns:getAllUserDetails"/>
			<xsd:element name="getAllUserDetailsResponse" type="tns:getAllUserDetailsResponse"/>
	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllUserDetails_WSD_PortType_getAllUserDetailsResponse">
    <wsdl:part name="parameters" element="tns:getAllUserDetailsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllUserDetails_WSD_PortType_getAllUserDetails">
    <wsdl:part name="parameters" element="tns:getAllUserDetails">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="getAllUserDetails_WSD_PortType">
    <wsdl:operation name="getAllUserDetails">
      <wsdl:input message="tns:getAllUserDetails_WSD_PortType_getAllUserDetails">
    </wsdl:input>
      <wsdl:output message="tns:getAllUserDetails_WSD_PortType_getAllUserDetailsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="STEPS_UI_Core_Team_WSD_getAllUserDetails_WSD_Binder" type="tns:getAllUserDetails_WSD_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAllUserDetails">
      <soap:operation soapAction="STEPS_UI_Core_Team_WSD_getAllUserDetails_WSD_Binder_getAllUserDetails" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="getAllUserDetails_WSD">
    <wsdl:port name="STEPS_UI_Core_Team_WSD_getAllUserDetails_WSD_Port" binding="tns:STEPS_UI_Core_Team_WSD_getAllUserDetails_WSD_Binder">
      <soap:address location="http://WMSTEPSIS:5555/ws/STEPS_UI_Core.Team.WSD:getAllUserDetails_WSD"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
