StEPS_Utility_Portlets/STEPS_UI_CaseworkerTools/src/com/webmethods/caf/is/wsclient/steps_ui_student/navigation/wsd/getstudentsessions_wsd/getStudentSessions_WSD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://WMSTEPSIS/STEPS_UI_Student/Navigation/WSD/getStudentSessions_WSD" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="getStudentSessions_WSD" targetNamespace="http://WMSTEPSIS/STEPS_UI_Student/Navigation/WSD/getStudentSessions_WSD">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://WMSTEPSIS/STEPS_UI_Student/Navigation/WSD/getStudentSessions_WSD" xmlns:SOAP_ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WMSTEPSIS/STEPS_UI_Student/Navigation/WSD/getStudentSessions_WSD">
          
          <xsd:complexType name="getStudentSessions">
            <xsd:sequence>
              <xsd:element name="stud_ref_no_in" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getStudentSessionsResponse">
            <xsd:sequence>
              <xsd:element name="studsessions" nillable="true" type="tns:ArrayOfStudSessions"/>
              <xsd:element name="error_boolean" nillable="true" type="xsd:string"/>
              <xsd:element name="error_text" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="StudSessions">
            <xsd:sequence>
              <xsd:element name="stud_session_id" nillable="true" type="xsd:string"/>
              <xsd:element name="db" nillable="true" type="xsd:string"/>
              <xsd:element name="session_code" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ArrayOfStudSessions">
<xsd:sequence>
			<xsd:element name="ArrayOfStudSessionsItem" type="tns:StudSessions" maxOccurs="unbounded"/>
		</xsd:sequence>

          </xsd:complexType>
        			<xsd:element name="getStudentSessions" type="tns:getStudentSessions"/>
			<xsd:element name="getStudentSessionsResponse" type="tns:getStudentSessionsResponse"/>
	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="getStudentSessions_WSD_PortType_getStudentSessionsResponse">
    <wsdl:part name="parameters" element="tns:getStudentSessionsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStudentSessions_WSD_PortType_getStudentSessions">
    <wsdl:part name="parameters" element="tns:getStudentSessions">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="getStudentSessions_WSD_PortType">
    <wsdl:operation name="getStudentSessions">
      <wsdl:input message="tns:getStudentSessions_WSD_PortType_getStudentSessions">
    </wsdl:input>
      <wsdl:output message="tns:getStudentSessions_WSD_PortType_getStudentSessionsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="STEPS_UI_Student_Navigation_WSD_getStudentSessions_WSD_Binder" type="tns:getStudentSessions_WSD_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getStudentSessions">
      <soap:operation soapAction="STEPS_UI_Student_Navigation_WSD_getStudentSessions_WSD_Binder_getStudentSessions" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="getStudentSessions_WSD">
    <wsdl:port name="STEPS_UI_Student_Navigation_WSD_getStudentSessions_WSD_Port" binding="tns:STEPS_UI_Student_Navigation_WSD_getStudentSessions_WSD_Binder">
      <soap:address location="http://WMSTEPSIS:5555/ws/STEPS_UI_Student.Navigation.WSD:getStudentSessions_WSD"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
